<nav id="sidebar">
    <ul class="components">
      <li> <a  routerLink="/" routerLinkActive="active">
        <div><img src="assets/images/rectangle.png" alt="" style="width:20px"></div>
          <span></span>
      </a></li>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <div><img src="assets/images/home_menu.png" alt="" style="width:20px"></div>
            <span>Home</span>
        </a></li>
      <li> <a routerLink="/collections" routerLinkActive="active">
        <div><img src="assets/images/collections.png" alt="" style="width:20px"></div>
        <span>Collections</span>
      </a></li>
      <li> <a  routerLink="/compaign" routerLinkActive="active">
        <div><img src="assets/images/marketing_.png" style="width:20px"></div>
        <span>Compaign</span>
      </a></li>
      <li> <a  routerLink="/products" routerLinkActive="active">
        <div><img src="assets/images/product.png" style="width:20px"></div>
        <span>Products</span>
      </a></li>
    </ul>
</nav>
    