<!-- 
  <div class="sidebar sidebar-wrapper" >
 
<div class="">
        <ul class="list-group">
          <li class="list-group-item">
              <div><i class="fa fa-home" aria-hidden="true"></i></div>
            <a routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="list-group-item">
              <div><i class="fa fa-th-large" aria-hidden="true"></i></div>
            <a routerLink="collection" routerLinkActive="active">Collection</a>
          </li>
          <li class="list-group-item">
              
            <a routerLink="compaign" routerLinkActive="active"><div><i class="fa fa-bullhorn" aria-hidden="true"></i></div>Compaign</a>
          </li>
          <li class="list-group-item">
              <div><i class="fa fa-tags" aria-hidden="true"></i>
              </div>
            <a routerLink="/products" routerLinkActive="active">Products</a>
          </li>
          
        </ul>
</div>
</div> -->
<nav id="sidebar">
    <ul class="components">
      <!-- <li> <a  routerLink="/" routerLinkActive="active">
          <div><i class="fa fa-indent" aria-hidden="true"></i>
          </div>
      </a></li> -->
      <li>
        <a routerLink="/" routerLinkActive="active">
            <div><i class="fa fa-home" aria-hidden="true"></i></div>
            <span>Home</span>
        </a></li>
      <li> <a routerLink="/collections" routerLinkActive="active">
        <div><i class="fa fa-th-large" aria-hidden="true"></i></div>
        <span>Collections</span>
      </a></li>
      <li> <a  routerLink="/compaign" routerLinkActive="active">
       <div> <i class="fa fa-bullhorn" aria-hidden="true"></i></div>
        <span>Compaign</span>
      </a></li>
      <li> <a  routerLink="/products" routerLinkActive="active">
        <div><i class="fa fa-tags" aria-hidden="true"></i>
        </div>
        <span>Products</span>
      </a></li>
    </ul>
</nav>
    