  <!-- Sidebar Content starts -->
  <div class="sidebar sidebar-wrapper" >
    <!-- Sidebar Header starts -->
    
    <!-- Sidebar Header Ends -->
<div class="">
        <ul class="list-group">
          <li class="list-group-item">
              <div><i class="fa fa-home" aria-hidden="true"></i></div>
            <a routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="list-group-item">
              <div><i class="fa fa-th-large" aria-hidden="true"></i></div>
            <a routerLink="collection" routerLinkActive="active">Collection</a>
          </li>
          <li class="list-group-item">
              
            <a routerLink="compaign" routerLinkActive="active"><div><i class="fa fa-bullhorn" aria-hidden="true"></i></div>Compaign</a>
          </li>
          <li class="list-group-item">
              <div><i class="fa fa-tags" aria-hidden="true"></i>
              </div>
            <a routerLink="/products" routerLinkActive="active">Products</a>
          </li>
          
        </ul>
</div>
<!-- Sidebar Content Ends -->
</div>