
.list-group-item{
    text-align: center;
}
#sidebar {
  /* position: absolute; */
      background:#160c01;
      color:#fff;
      height:200vh;
      position: fixed;
}
  

   
    #sidebar .sidebar-header {
         padding:20px;
         background:#1b1d24;
    }
    
    #sidebar ul.components {
      padding:0px 0;
    }
   
    
    
    #sidebar ul li a {
      padding:10px;
      font-size:15px;
      color: #fff;
      display:block;
      text-decoration: none;
      text-align: center;
      padding: 20px;
       border-left: 5px solid #160c01;
      line-height: 28px;
    }
    
    #sidebar ul li .active {
      color:#ab5c05;
      
      background: #160c01 !important;;
      text-align: center;
      text-decoration: none;
   border-left: 5px solid #ab5c05;
   padding: 20px;
   line-height: 28px;
    }
   
  
    #sidebar ul li a:hover {
      color:#fff;
      background:#160c01;
      text-align: center;
      text-decoration: none;
   border-left: 5px solid #ab5c05;
    }
    
    .fa {
        
    font-size: large;
    }
   
  
   
  
   
     
 
    