
.list-group-item{
    text-align: center;
}
#sidebar {
      background:#262933;
      color:#fff;
      height:88vh;
}
  

   
    #sidebar .sidebar-header {
         padding:20px;
         background:#1b1d24;
    }
    
    #sidebar ul.components {
      padding:0px 0;
    }
   
    
    
    #sidebar ul li a {
      padding:10px;
      font-size:1.1em;
      color: cornsilk;
      display:block;
      text-decoration: none;
      text-align: center;
  
    }
    
    #sidebar ul li .active {
      color:#262933;
      background: #fff !important;;
      text-align: center;
      text-decoration: none;
   border-left: 5px solid brown;
    }
   
  
    #sidebar ul li a:hover {
      color:#262933;
      background:#fff;
      text-align: center;
      text-decoration: none;
   border-left: 5px solid brown;
    }
    
    .fa {
        font-size: xx-large;
    }
   
  
   
  
   
     
 
    