.nav-link, .user-info{
    color:#fff;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    background: #292929;
    border-bottom: 2px solid black;
}
.line{
    border: 0.5px solid rgb(89, 89, 89);
    height:20px;
    margin: 0 5px 0 15px;
}
