<div class="card">
    <div class="card-header">
     
      <div class="left">
        Resolution Rate by TOS Buckets
    </div>
    <div class="right">
     <img src="assets/images/info-d.png" width="12" alt="">
    </div>
    </div>
    
    <div class="card-body">
      <div class="col">
        <div class="text-col"> <25K</div>
        <div class="newcol1"></div>
        <div class="newcol2"></div>
        <div class="newcol3"></div>
        <div class="newcol4"></div>
        <div class="col-text">42%</div>
      </div>
      <div class="col">
        <div  class="text-col">25-50K</div>
        <div class="newcol1"></div>
        <div class="newcol2"></div>
        <div class="newcol3"></div>
        <div class="newcol4"></div>
        <div class="newcol5"></div>
        <div class="col-text">53%</div>
      </div>
      <div class="col">
        <div  class="text-col">50-75K</div>
        <div class="newcol1"></div>
        <div class="newcol2"></div>
        <div class="newcol3"></div>
        <div class="newcol4"></div>
        <div class="col-text">38%</div>
      </div>
      
      <div class="col">
        <div class="text-col" >75-100K</div>
        <div class="newcol1"></div>
        <div class="newcol2"></div>
        <div class="newcol3"></div>
        <div class="newcol4"></div>
        <div class="newcol5"></div>
        <div class="newcol6"></div>
        <div class="newcol7"></div>
        <div class="newcol8"></div>
        <div class="col-text">76%</div>
      </div>
      <div class="col">
        <div class="text-col" >>100K</div>
        <div class="newcol1"></div>
        <div class="newcol2"></div>
        <div class="newcol3"></div>
        <div class="col-text" >26%</div>
      </div>

    </div>
    <div class="card-footer">
      <div class="left">
        Download Report
      </div>
      <div class="right">
        <img src="assets/images/downloadShape.png" width="12" alt="">
      </div>
    </div>
  </div>
