<div class="row">
    <!--Profile Overview-->
    <div class="col-md-12 mt-10">
        <div class="container-heading">
            Profile Overview
        </div>
        <div class="col-md-12 desp">
            <div class="pull-left">
                <a class="d-flex align-items-center nav-link" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="assets/images/persona2.png" alt="user avatar" width="30">
                    <div class="line-ver"></div>
                    <img src="assets/rupee.svg" alt="user avatar" width="25">
                    <div class="line-hor"></div>
                    <p class="mb-0">By Accounts</p>
                </a>
            </div>
            <div class="pull-right">
                <select class="select-option">
                    <option>Bucket 1</option>
                    <option>Bucket 2</option>
                    <option>Bucket 3</option>
                    <option>Bucket 4</option>
                    <option>Bucket 5</option>
                    <option>Bucket 6</option>
                    <option>Bucket 7</option>
                </select>
                <select class="select-option">
                    <option>January 21</option>
                    <option>Febuary 21</option>
                    <option>March 21</option>
                    <option>April 21</option>
                    <option>May 21</option>
                    <option>June 21</option>
                    <option>July 21</option>
                </select>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <!--Blocks-->
    <div class="col-md-12 mt-10">
        <app-block></app-block>

    </div>
</div>




<div class="row mt-10">
    <div class="col-md-12 mt-10">
        <div class="col-md-4 align">
            <app-resolution-rate></app-resolution-rate>
        </div>
        <div class="col-md-4 align">
            <app-settlements-offers></app-settlements-offers>
        </div>
        <div class="col-md-4 align">
            <app-state-wise></app-state-wise>
        </div>
    </div>

</div>


<div class="row mt-10">
    <div class="col-md-12 mt-10">
        <div class="col-md-4" style="display: inline-block;">
            <app-portfolio-distribution></app-portfolio-distribution>
        </div>
        <div class="col-md-8" style="display: inline-block;">
            <app-resolution-trends></app-resolution-trends>
        </div>
    </div>

</div>


<div  style="padding:50px">
  
</div>
