*{
    background: #292929;
}
.mt-10{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.row{
  
    width: 100%;
    display: contents;
}
.line-ver{
    border: 0.5px solid #d68a03;
    width: 20px;
    margin: 5px 0px 5px 0px;
}
.line-hor{
    border: 0.25px solid #d68a03;
    height:25px;
    margin: 0 15px 0 15px;
}
.mb-0{
    color: #d68a03;
    font-size: 12px;
}
.select-option{
    margin: 10px;
    border: 1px solid #d1820e;
    border-radius: 15px;
    color: #d1820e;
    font-size: 12px;
    width: 100px;padding: 5px;
}

.col-md-6{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.desp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-heading{
    font-size: 20px;
   
    font-weight: 500;
    padding: 0;
    color: #fff;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-width-5{
    width: 100%;
    display: inline-block;
}
.col{
    background: #181818;
    border:1px solid #181818;
    border-radius: 5px;
}
.row{
    width: 100%;
    
}
.align{
    display: inline-block;
    border: 1px solid #1e1e1e;
  border-radius: 5px;
    margin: 7px;
    width: 32%;
}







