<div class="col-md-12">
    <div class="container-heading">
        Profile Overview
        <a class="d-flex align-items-center nav-link"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/avatar.png"  alt="user avatar" width="60">--
            <img src="assets/avatar.png"  alt="user avatar" width="50"> |
            <p class="mb-0">By Accounts</p>
        </a>
    </div>
   
</div>

<div class="col-md-12">
    <div class="">
     <div class="col-md-3 col-sm-4 alignmnt">
         <div class="cardbox">
             <div class="cardbox-top">
                 <div class="cardbox-top-content">
                     <div class="cardbox-top-content-icon">
                         <i class="fa fa-users fa-style" aria-hidden="true"></i>
                     </div>
                     Total Accounts
                     <div class="pull-right badge"><i style="background: #0e0e0e;font-size: 11px;"
                             class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                 </div>
             </div>
             <div class="cardbox-text">
                 8.84 Lac
             </div>
         </div>
     </div>
     <div class="col-md-3 col-sm-4 alignmnt">
         <div class="cardbox">
             <div class="cardbox-top">
                 <div class="cardbox-top-content">
                     <div class="cardbox-top-content-icon">
                         <i class="fa fa-users fa-style" aria-hidden="true"></i>
                     </div>
                     Total Engagements
                     <div class="pull-right badge"><i style="background: #0e0e0e;font-size: 11px;"
                             class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                 </div>
             </div>
             <div class="cardbox-text">
                 7.14 Lac
                 <div class="pull-right text-style">
                     44.21%
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-3 col-sm-4 alignmnt">
         <div class="cardbox">
             <div class="cardbox-top">
                 <div class="cardbox-top-content">
                     <div class="cardbox-top-content-icon">
                         <i class="fa fa-users fa-style" aria-hidden="true"></i>
                     </div>
                     Total Registered
                     <div class="pull-right badge"><i style="background: #0e0e0e;font-size: 11px;"
                             class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                 </div>
             </div>
             <div class="cardbox-text">
                 3.37 Lac
                 <div class="pull-right text-style">
                     44.21%
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-3 col-sm-4 alignmnt">
         <div class="cardbox">
             <div class="cardbox-top">
                 <div class="cardbox-top-content">
                     <div class="cardbox-top-content-icon">
                         <i class="fa fa-users fa-style" aria-hidden="true"></i>
                     </div>
                     Digitally Paid
                     <div class="pull-right badge"><i style="background: #0e0e0e;font-size: 11px;"
                             class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
                 </div>
             </div>
             <div class="cardbox-text">
                 74.99 Lac
                 <div class="pull-right text-style">
                     44.21%
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-3 col-sm-4 alignmnt">
         <div class="cardbox">
             <div class="cardbox-top">
                 <div class="cardbox-top-content">
                     <div class="cardbox-top-content-icon">
                         <i class="fa fa-users fa-style" aria-hidden="true"></i>
                     </div>
                     Overall Resolved
                     <div class="pull-right badge">
                         <i style="background: #0e0e0e;font-size: 11px;" class="fa fa-exclamation-circle"
                             aria-hidden="true"></i>
                     </div>
                 </div>
             </div>
             <div class="cardbox-text">
                 4.35 Lac
                 <div class="pull-right text-style">
                     44.21%
                 </div>
             </div>
         </div>
     </div>
    </div>

 </div>

 <div class="col-md-12">
     <div class="">
         <div class="col-md-4 alignmnt">
             <app-resolution-rate></app-resolution-rate>
         </div>
         <div class="col-md-4 alignmnt">
             <app-settlements-offers></app-settlements-offers>
         </div>
         <div class="col-md-4 alignmnt">
             <app-state-wise></app-state-wise>
         </div>
     </div>

 </div>

 <div class="col-md-12">
     <div class="flex-gap">
         <div class="">
             <app-portfolio-distribution></app-portfolio-distribution>
         </div>
         <div class="">
             <app-resolution-trends></app-resolution-trends>
         </div>
     </div>
 </div>
