<div class="card">
    <div class="card-header">
     
     <div class="left">
        Settlement Offers
     </div>
     <div class="right">
      <img src="assets/images/info-d.png" width="12" alt="">
     </div>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <div class="left">
         Customer Profile
       </div>
       <div class="right">
        View Details <i class="fa fa-eye" aria-hidden="true"></i>
       </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="row">
          <div class="col">
            <div class="cardbox-top">
              <div class="cardbox-top-content">
                <div class="cardbox-top-content-icon">
                  <img src="assets/images/customerp1.png" width="18" alt="">
              </div>
                 3.37 Lac
              </div>
          </div>
          <div class="cardbox-text">
              Offer Raised
          </div>
        </div>
        <div class="col">
          <div class="cardbox-top">
            <div class="cardbox-top-content">
              <div class="cardbox-top-content-icon">
                <img src="assets/images/check.png" width="25" alt="">
            </div>
               2.56 Lac
            </div>
        </div>
        <div class="cardbox-text">
            Offer Honered
        </div>
        </div>
        <div class="col">
          <div class="cardbox-top">
            <div class="cardbox-top-content">
              <div class="cardbox-top-content-icon">
                <img src="assets/images/customerp3.png" width="25" alt="">
            </div>
              98K
            </div>
        </div>
        <div class="cardbox-text">
            Offer Broke
        </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="left">
         Bank Profile
       </div>
       <div class="right">
        <!-- View Details <i class="fa fa-eye" aria-hidden="true"></i> -->
       </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="row">
          <div class="col">
            <div class="cardbox-top">
              <div class="cardbox-top-content">
                <div class="cardbox-top-content-icon">
                  <img src="assets/images/undo-button.png" width="25" alt="">
              </div>
                2.15 Lac
              </div>
          </div>
          <div class="cardbox-text">
              Offer Re-Negotiated
          </div>
        </div>
        <div class="col">
          <div class="cardbox-top">
            <div class="cardbox-top-content">
              <div class="cardbox-top-content-icon">
                <img src="assets/images/awesome-user.png" width="25" alt="">
            </div>
               3.1 Lac
            </div>
        </div>
        <div class="cardbox-text">
            Offer Approved
        </div>
        </div>
        <div class="col">
          <div class="cardbox-top">
            <div class="cardbox-top-content">
              <div class="cardbox-top-content-icon">
                <img src="assets/images/cross.png" width="25" alt="">
            </div>
             36K
            </div>
        </div>
        <div class="cardbox-text">
            Offer Rejected
        </div>
          </div>
        </div>
      </div>
      
       <!-- <div class="col-md-12">
       
      </div>  -->
  
   
   </div>

    <div class="card-footer">
      <!-- <div class="left">
          Download Report
      </div>
      <div class="right">
        <img src="assets/images/downloadShape.png" width="12" alt="">
      </div> -->
    </div>
  </div>