@media screen and (max-device-width:600px ) {
    .mobile-left{
        width: 30%;
    }
    .mobile-right{
        width: 70%;
    }
}

@media (min-width: 768px){
    .col-md-11 {
        flex: 0 0 auto;
        width: 92.66666667%;
    }
    
}
