<div class="card">
    <div class="card-header">
      
      <div class="left">
         State-wise Performance
     </div>
     <div class="right">
      <img src="assets/images/info-d.png" width="12" alt="">
     </div>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <div class="left">
          <i class="fa fa-dot-circle-o fa-clr" aria-hidden="true"></i> Highest Performing State 
       </div>
       <div class="right  fa-clr">
        <i class="fa fa-arrow-up" aria-hidden="true"></i> 63.33%
       </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="left">
          <i class="fa fa-dot-circle-o fa-clr2" aria-hidden="true"></i> Lowest Performing State
       </div>
       <div class="right fa-clr2">
        <i class="fa fa-arrow-down" aria-hidden="true"></i> 38.12%
       </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="left">
          Download Report
      </div>
      <div class="right">
        <img src="assets/images/downloadShape.png" width="12" alt="">
      </div>
    </div>
  </div>