<div class="row justify-content-between">
    <div class="col">
        <div class="cardbox-top">
            <div class="cardbox-top-content">
                <div class="cardbox-top-content-icon">
                    <img src="assets/images/totalAccounts.png" width="50" alt="">
                </div>
                Total Accounts
                <div class="pull-right">
                    <img src="assets/images/info-d.png" width="12" alt="">
                </div>
            </div>
        </div>
        <div class="cardbox-text">
            9.84 Lac
            <div class="pull-right text-style">
                
            </div>
        </div>
    </div>
    <div class="col">
        <div class="cardbox-top">
            <div class="cardbox-top-content">
                <div class="cardbox-top-content-icon">
                    <img src="assets/images/totalEngagement.png" width="50" alt="">
                </div>
                Total Engagement
                <div class="pull-right">
                    <img src="assets/images/info-d.png" width="12" alt="">
                </div>
            </div>
        </div>
        <div class="cardbox-text">
            7.14 Lac
            <div class="pull-right text-style">
                (72.50%)
            </div>
        </div>
    </div>
    <div class="col">
        <div class="cardbox-top">
            <div class="cardbox-top-content">
                <div class="cardbox-top-content-icon">
                    <img src="assets/images/totalRegistered.png" width="50" alt="">
                </div>
                Total Registered
                <div class="pull-right">
                    <img src="assets/images/info-d.png" width="12" alt="">
                </div>
            </div>
        </div>
        <div class="cardbox-text">
            3.37 Lac
            <div class="pull-right text-style">
                (47.17%)
            </div>
        </div>
      </div>
      <div class="col">
        <div class="cardbox-top">
            <div class="cardbox-top-content">
                <div class="cardbox-top-content-icon">
                    <img src="assets/images/digitallyPaid.png" width="50" alt="">
                </div>
               Digitally Paid
                <div class="pull-right">
                    <img src="assets/images/info-d.png" width="12" alt="">
                </div>
            </div>
        </div>
        <div class="cardbox-text">
            74.99 Lac
            <div class="pull-right text-style">
                (22.27%)
            </div>
        </div>
      </div>
      <div class="col">
        <div class="cardbox-top">
            <div class="cardbox-top-content">
                <div class="cardbox-top-content-icon">
                    <img src="assets/images/digitallyPaid.png" width="50" alt="">
                </div>
                Overall Resolved
                <div class="pull-right">
                    <img src="assets/images/info-d.png" width="12" alt="">
                </div>
            </div>
        </div>
        <div class="cardbox-text">
            4.35 Lac
            <div class="pull-right text-style">
                (44.21%)
            </div>
        </div>
      </div>
  </div>